#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

/ {

    behaviors {
        lthp: layer_tap_hold_preferred {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERT";
            bindings = <
      &kp GRAVE  &kp N1     &kp N2   &kp N3    &kp N4      &kp N5                   &kp N6     &kp N7     &kp N8     &kp N9   &kp N0    &kp BSLH
      &kp TAB    &kp Q      &kp W    &kp E     &kp R       &kp T                    &kp Y      &kp U      &kp I      &kp O    &kp P     &kp RBKT
      &kp CAPS   &kp A      &kp S    &kp D     &kp F       &kp G                    &kp H      &kp J      &kp K      &kp L    &kp SEMI  &kp LBKT
      &kp LSHFT  &kp Z      &kp X    &kp C     &kp V       &kp B                    &kp N      &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp APOS
                 &kp LCTRL  &kp LGUI &kp LALT  &lthp RGUI  &kp SPACE                &kp SPACE  &kp ENTER  &kp BSPC   &kp DEL  &kp ESC
            >;
        };

        mod_layer {
            display-name = "MOD";
            bindings = <
      &bt BT_CLR    &kp F1      &kp F2      &kp F3  &kp F4  &kp F5                  &kp F6     &kp F7     &kp F8    &kp F9     &kp F10  &kp F11
      &bt BT_SEL 0  &none       &none       &none   &none   &none                   &kp MINUS  &kp EQUAL  &kp UP    &none      &none    &none
      &bt BT_SEL 1  &none       &none       &none   &none   &none                   &none      &kp LEFT   &kp DOWN  &kp RIGHT  &none    &none
      &out OUT_TOG  &none       &none       &none   &none   &none                   &none      &none      &none     &none      &none    &none
                    &bt BT_NXT  &bt BT_PRV  &none   &trans  &trans                  &trans     &trans     &trans    &trans     &trans
            >;
        };
    };
};
